:root {
    --main-black: #201e26;
    --main-blacker: #141218;
    --main-yellow: #f6c65c;
    --main-yellow-darker: #b49043;
    --main-yellow-darker2: #a1813c;
    --main-white: rgb(241, 240, 235);
}

@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--main-black);
    color: var(--main-white);
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    height: 100%
}

.stretchContent {
    flex-grow: 1;

}

.flexCompleteCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexHorizontalCenter {
    display: flex;
    justify-content: center;
}

.footerSection {
    background-color: white;
    color: var(--main-black);
    text-align: center;
    padding: 20px;
}

.navHeader {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--main-black);
    margin-left: 10px;
    margin-right: 20px;
}

.lowerWidthContainer {
    width: 65%;
    padding-top: 30px;
}

.lowerWidthContainer2 {
    width: 50%;
    padding-top: 30px;
}

@media(max-width: 900px) {
    .lowerWidthContainer {
        width: 90%;
    }

    .lowerWidthContainer2 {
        width: 90%;
    }
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.textDivider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.textDivider hr {
    flex: 1;
}

.textDivider p {
    margin: 0 10px 5px 10px;

}

.verticalMargin {
    margin: 50px 0 50px 0;
}

/********* BLOG PAGE *********/
.TopInfoSection {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media(max-width: 500px) {
    .TopInfoSection {
        flex-direction: column;

    }
}

.TopInfoSection div {
    flex: 1;
    border: 1px solid var(--main-white);
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
}

.blogContentContainer {
    display: flex;
    margin: 50px 0px 50px 0px;
    font-size: 18px;

}

.blogContentContainer .textSection {
    flex: 1;
    margin-right: 20px;

}

.blogContentContainer .tableOfContents {
    width: 250px;
    border: 1px solid var(--main-white);
    border-radius: 5px;
    padding: 20px;
    height: 300px;
    margin-bottom: 40px;
    display: none;
}

.tableOfContentsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tableOfContents2 {
    margin: 20px;
    border: 1px solid var(--main-white);
    border-radius: 5px;
    padding: 20px 40px 20px 40px;
}

@media(max-width:900px) {
    .blogContentContainer {
        flex-direction: column-reverse;
    }

    .blogContentContainer .textSection {
        margin-right: 0px;
    }

    .blogContentContainer .tableOfContents {
        width: auto;
    }

}

.codeBlockPanel {
    background-color: rgba(196, 209, 255, 0.13);
    border-radius: 10px;
    text-align: left;
    padding-left: 10px;
    margin: 10px 5px 10px 5px;
    font-size: 13px;
}

/********* PROJECT PAGE *********/
.projectCard {
    background-color: var(--main-white);
    border-radius: 5px;
    padding: 20px;
    color: var(--main-black);
    margin: 0px;
    flex: 1;
}

.projectCardContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media(max-width: 500px) {
    .projectCardContainer {
        flex-direction: column;

    }
}

.projectCard p {
    font-size: 12px;
    color: rgb(103, 103, 103);
}

.gridLayout {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

@media(max-width: 500px) {
    .gridLayout {
        display: flex;
        flex-direction: column;
    }
}

/********* ABOUT PAGE *********/
.infoOval {
    background-color: rgb(234, 234, 234);
    color: black;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block
}

.aboutSkillContainer {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 25px;
}

/********* TEXT *********/
.paragraphText {
    text-indent: 30px;
    text-align: left;
}

.generalHeaderText {
    color: var(--main-yellow);
    margin: 30px 0 30px 0;
}

/********* BUTTONS/LINK *********/
.button1 {
    background-color: var(--main-blacker);
    color: var(--main-yellow);
    border: 1px solid var(--main-yellow);
}

.button1:hover {
    background-color: var(--main-yellow);
    color: var(--main-blacker);
}

.button2 {
    background-color: var(--main-yellow);
    color: var(--main-blacker);
}

.button3 {
    background-color: white;
    color: var(--main-blacker);
    font-weight: bold;
}

.headerButton {
    width: 130px;
}

a {
    color: var(--main-yellow-darker);
}

a:hover {
    color: var(--main-yellow-darker2);
}


/********* FONTS *********/
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}