:root {
    --main-dark1 : #292e34;
    --main-dark2: rgb(46, 54, 65);
    --main-dark3 : rgb(50, 61, 72);
}

body {
    background: rgb(139, 201, 225);
    background: linear-gradient(0deg, rgba(139, 201, 225, 1) 0%, rgba(38, 57, 75, 1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*--------------------------- Panels ------------------------------------*/
.whitePanel {
    border-radius: 10px;
    padding: 20px 20px 20px 30px;
    margin: 10px;
    background-color: rgb(207, 217, 231);
    color: rgb(41, 54, 79);
}

.whitePanel h4 {
    line-height: 15px;
}

.blackPanel {
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    background-color: var(--main-dark3);
    color: white;
}
.titlePanel{
    padding: 30px;
}


.blackPanelWithMorePadding {
    border-radius: 10px;
    padding: 50px 15% 20px 15%;
    margin: 10px;
    background-color: var(--main-dark3);
    color: white;
}

.blackBar {
    background-color: rgb(58, 77, 97);
    color: white;
    padding: 4px;   
    text-align: center;
    font-style: italic;
    
}

.codeBlockPanel {
    color: white;
    background-color: rgba(196, 209, 255, 0.13);
    border-radius: 10px;
    text-align: left;
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
    font-size: 13px;
}

@media (max-width: 978px) {
    .blackPanelWithMorePadding {
        padding: 20px 20px 20px 20px;
    }

    .video {
        width: 290px;
        height: 160px
    }

    .codeBlockPanel {
        font-size: 10px;
    }
}

.video {
    width: 560px;
    height: 315px;
}

.formatedImage {
    width: 100%;
    border-radius: 8px;
}

.footerSection {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-dark1);
    color: white;
    text-align: center;
    padding: 20px;
}

/*------------------------- Buttons -----------------------------------*/
.customButton {
    color: rgb(255, 255, 255);
    background-color: rgb(80, 137, 187);
    font-weight: 500;
}

.customButton:hover {
    color: white;
    background-color: rgb(44, 64, 82);
}

.customButton2 {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 147, 152);
    font-weight: 500;
}

.customButton2:hover {
    color: white;
    background-color: rgb(38, 77, 83);
}

.customButton3 {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 103, 149);
    font-weight: 500;
}
.customButton3:hover {
    color: white;
    background-color: rgb(43, 53, 95);
}

.customNavItem {
    font-weight: 500;
    font-size: 18px;
}

.customNavItem:hover {
    border-radius: 5px;
    background-color: rgb(110, 141, 160);
}

.customNavItem a {
    color: white;
}


/*------------------------- Text ---------------------------------*/
.title {
    background-color: var(--main-dark1);
    color: white;
    padding: 15px;
}

.title h1 a {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(to top, #8696b5, #ffffff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.ulShift {
    display: inline-block;
    text-align: left;
}

.ulShift li {
    margin-bottom: 15px;
}

.addedListSpace li {
    margin-bottom: 20px;
}

.smallListSpacing p {
    line-height: 5px;
}

.paragraphText {
    text-indent: 30px;
    text-align: left;
}
.blackPanelWithMorePadding h1,
.blackPanelWithMorePadding h2,
.blackPanelWithMorePadding h3,
.blackPanelWithMorePadding h4,
.blackPanelWithMorePadding h5 {
    font-weight: bold;
}
.blackPanel h1,
.blackPanel h2,
.blackPanel h3,
.blackPanel h4,
.blackPanel h5 {
    font-weight: bold;
}

.whitePanel h1,
.whitePanel h2 {
    font-weight: bold;
}




/*------------------------ Color --------------------------------*/
.whiteLine {
    background-color: white;
    margin: 5px;
}

.navBarColor {
    background-color: var(--main-dark2);
}

.accordionSectionBack {
    background-color: rgb(208, 218, 221);

}

.accordionSectionFront {
    background-color: rgb(69, 88, 100);
    border-radius: 5px;
}

.accordionSectionFront a {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

a {
    color: rgb(149, 184, 255);
}

a:hover {
    color: rgb(239, 243, 255);
}