.container{
    background-color:#e5e8ef;
    padding-top:45px;
    margin-bottom: 5px;
    padding-bottom:45px;
    padding-left:100px;
    padding-right:100px;
    
}
img{
    display: block;
    max-width: 750px;
}

.title{
    background-color: #909aa6;
    color: white;
    text-align: center;

}
.subT{
    font-style: italic;
}